.carousel__list__entry {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.carousel {
  position: relative;
}
.carousel__list-wrap {
  overflow: hidden;
}
.carousel__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: none;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  min-height: 100%;
}
.carousel__list__entry {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  box-sizing: border-box;
}
.carousel__ui {
  display: none;
}
.carousel__ui__left,
.carousel__ui__right {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 0.1s;
  cursor: pointer;
  z-index: 10;
}
.carousel__ui__left > .active,
.carousel__ui__left > .inactive,
.carousel__ui__right > .active,
.carousel__ui__right > .inactive {
  position: absolute;
  transition: opacity 0.1s;
}
.carousel__ui__left.scroller-hide,
.carousel__ui__left > .active,
.carousel__ui__right.scroller-hide,
.carousel__ui__right > .active {
  opacity: 0;
}
.carousel__ui__left:active > .active,
.carousel__ui__left:focus > .active,
.carousel__ui__left:hover > .active,
.carousel__ui__right:active > .active,
.carousel__ui__right:focus > .active,
.carousel__ui__right:hover > .active {
  opacity: 1;
}
.carousel__ui__left {
  left: 0;
  transform: translate(-50%, -50%);
}
.carousel__ui__right {
  right: 0;
  transform: translate(50%, -50%);
}
.carousel-paginator {
  text-align: center;
  white-space: nowrap;
  font-size: 0;
  line-height: 0;
}
.carousel-paginator > li {
  display: inline-block;
  vertical-align: bottom;
  font-size: 0;
  height: 0;
}
.carousel-paginator__page {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  margin: 0 3px;
  box-sizing: border-box;
  background-color: hsla(0, 0%, 100%, 0.7);
  transform: translateY(-50%);
  transition: background-color 0.15s, width 0.15s, height 0.15s;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.carousel-paginator__page.small {
  width: 4px;
  height: 4px;
}
.carousel-paginator__page.tiny {
  width: 0;
  height: 0;
}
.carousel-paginator__page.selected {
  width: 8px;
  height: 8px;
  background-color: #fff;
}
