.production-item-price {
  display: block;
  font-size: 17px;
  line-height: 23px;
  font-weight: 700;
}
.production-item-price__rate {
  color: #35c5f0;
  margin-right: 2px;
}
.production-item-price__price {
  color: #000;
}
.production-item-price--disabled .production-item-price__rate {
  opacity: 0.26;
}
.production-item-price--disabled .production-item-price__price {
  opacity: 0.14;
}
.production-item-price--placeholder {
  color: #ededed;
  background-color: #ededed;
}
.production-item-price--placeholder:before {
  content: ' ';
}
.production-item-retail-delivery {
  display: block;
}
.production-item-retail-delivery > .icon {
  width: 96px;
  height: 15px;
}
.production-item-badge-list {
  display: block;
}
.production-item-badge-list > .icon {
  margin-right: 4px;
}
.production-item-badge-list--disabled {
  opacity: 0.32;
}
.production-item-stats {
  font-size: 12px;
  color: #9e9e9e;
  line-height: 16px;
  font-weight: 700;
}
.production-item-stats--review > .icon {
  width: 1.1em;
  height: 1.1em;
  margin-right: 1px;
  color: #35c5f0;
  vertical-align: -2px;
}
.production-item-stats--review > .avg {
  margin-right: 2px;
  color: #424242;
  font-weight: 700;
}
.production-item-stats--placeholder {
  color: #ededed;
  background-color: #ededed;
}
.production-item-stats--placeholder:before {
  content: ' ';
}
.production-item {
  position: relative;
  padding: 0 0 20px;
}
@media (min-width: 768px) {
  .production-item {
    padding: 0 0 30px;
  }
}
.production-item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.production-item__overlay.focus-visible:focus ~ .production-item__image .image {
  transform: translate(-50%, -50%) scale(1.1);
}
.production-item__overlay.focus-visible:focus
  ~ .production-item__content
  .production-item__header__name {
  opacity: 0.5;
}
@media (min-width: 768px) {
  .production-item__overlay:active ~ .production-item__image .image,
  .production-item__overlay:hover ~ .production-item__image .image {
    transform: translate(-50%, -50%) scale(1.1);
  }
  .production-item__overlay:active
    ~ .production-item__content
    .production-item__header__name,
  .production-item__overlay:hover
    ~ .production-item__content
    .production-item__header__name {
    opacity: 0.5;
  }
}
.production-item__overlay::-moz-focus-inner {
  border: 0;
}
.production-item__overlay.focus-visible:focus {
  outline: none;
  box-shadow: 0 0 0 4px #82e0fa;
  border-radius: 2px;
}
.production-item__overlay.focus-visible:focus
  ~ .production-item__content
  .production-item__header__name {
  opacity: 1;
}
.production-item__content {
  padding: 0 4px;
}
@media (min-width: 768px) {
  .production-item__content {
    padding: 0 10px;
  }
}
.production-item__header {
  margin: 9px 0 0;
}
.production-item__header__brand {
  display: block;
  color: #757575;
  word-break: break-all;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}
.production-item__header__name {
  display: block;
  max-height: 34px;
  margin-top: 5px;
  word-break: break-all;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  color: #000;
  transition: opacity 0.1s;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.production-item .production-item-price {
  margin: 2px 0 0;
}
.production-item .production-item-stats {
  margin: 3px 0 0;
}
.production-item .production-item-retail-delivery {
  margin: 4px 0 0;
}
.production-item .production-item-badge-list {
  margin: 8px 0 0;
}
.production-item--placeholder .production-item__header__brand,
.production-item--placeholder .production-item__header__name {
  color: #ededed;
  background-color: #ededed;
}
.production-item--placeholder .production-item__header__brand:before,
.production-item--placeholder .production-item__header__name:before {
  content: ' ';
}
.production-item--placeholder .production-item__header__brand {
  width: 80px;
}
.production-item--placeholder .production-item-price {
  margin-top: 3px;
  line-height: 21px;
  width: 120px;
}
.production-item--placeholder .production-item-stats {
  width: 100px;
}
@keyframes productionItemPhAnim {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  to {
    transform: translate3d(30%, 0, 0);
  }
}
